#root {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'SF Pro Text',
    'SF Pro Display',
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
